@import "../../common";

#filters-attribution-unit {
	border-bottom: 1px solid $color-divider;
	padding: $menu-padding/2 $menu-padding;
	font-size: 0.85rem;

	&.empty {
		border-top: none;
	}

	p {
		margin: 0.25rem 0;
		color: $color-text-2;
	}

	a {
		color: $color-text-2;
	}
}
